extends layout
block content

  .col-lg-9#Buttons
    .btn-group.btn-group-justified
      .btn-group
        button.btn.btn-default#Zen
          i.glyphicon.glyphicon-eye-open
          span  Zen
      .btn-group
        a#MdSave
          button.btn.btn-primary
            i.glyphicon.glyphicon-floppy-save
            span  Download .md
      .btn-group
        a#HtmlSave
          button.btn.btn-success
            i.glyphicon.glyphicon-arrow-down
            span  Download .html
      .btn-group
        button.btn.btn-info#Typewriter
          i.glyphicon.glyphicon-volume-down
          span  Typewriter
      .btn-group
        button.btn.btn-default#Prev
          i.glyphicon.glyphicon-volume-down
          span  Prev

      .btn-group
        button.btn.btn-inverse#Next
          i.glyphicon.glyphicon-volume-down
          span  Next
  .col-lg-3
    p
      small.text-right#Url="url=http://md.nikezono.net/"+page.uuid
    p
      small.text-right#Changed="changed:"+latest
    p
      small.text-right#Versions
        =page.date.length
        |  versions



  .col-lg-12.fill#Containers
    .col-lg-6
      h3 Markdown Editor
    .col-lg-6
      h3 HTML Preview
    .col-lg-12.fill#ZenView
      .col-lg-6.fill
        .fill#Inputview(contenteditable='true')
          if page.md
            != page.md
          else
            | this area is editable.
      .col-lg-6
        #Preview
