doctype html

head

  title MarkdownEditor

  //- STYLESHEET -//
  link(rel='stylesheet',href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  link(rel='stylesheet',href='http://yandex.st/highlightjs/8.0/styles/default.min.css')

  //- JAVASCRIPT -//
  script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js')
  script(type='application/javascript',src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
  script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js')
  script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/marked/0.3.1/marked.min.js')
  script(type='text/javascript',src='http://yandex.st/highlightjs/8.0/highlight.min.js')
  script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js")
  script(src="/socket.io/socket.io.js")

  //- USER LIBRARY -//
  link(rel='stylesheet',href='/css/style.css')
  script(type='text/javascript',src='/js/app.js')

body

  .rows
    .col-lg-12#Titles
      .page-header
        h1 Markdown Editor
          small   markdown editor,previewer,converter.
            a(href="https://github.com/nikezono/MarkdownEditor")   Github
    .col-lg-12(style="display:none")
      .alert.alert-danger.alert-dismissible
        button.close(data-dismiss="alert" aria-hidden=true) &times;
        p#Alert
    block content
